.nav-link.active {
  background-color: #e0f0ff;
  color: #007bff;
}

.dark .nav-link.active {
  background-color: #19213a;
  color: #93c5fd;
}

.bio-org-link:hover {
  transform: scale(1.2);
  transition: transform 0.2s;
}

.center-img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}