.nav-link.active {
  background-color: #e0f0ff;
  color: #007bff;
}

.dark .nav-link.active {
  background-color: #19213a;
  color: #93c5fd;
}

/* Zoom organization link on hover */
.author-profile .organization a:hover,
.author-profile .organizations a:hover {
  transform: scale(1.2);
  transition: transform 0.2s;
}